
#contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedorImagen {
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.combobox {
    width: 300px;
    height: 25px;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    margin-bottom: 20px;
    font-size: 15px;
}
.comboboxContainer {
    width: 300px;
    height: 60px;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    line-height: 1.1;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 15px;
}

.button {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    horiz-align: center;
    width: 100px;
    display: block;
}

.button:hover {
    background-color: #f7fafa;
}

.button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 500px;
    margin-left: 150px;
    vertical-align: center;
}
header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 20px;*/
}
.logo1 img,
.logo2 img,
.logo3 img {
    max-height: 75px;
    box-shadow: none;
}
.logo2 {
    order: 2;
}
.logo3 {
    order: 3;
}
h1 {
    font-size: 30px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    font-weight: inherit;
    margin: 0;
    font-family: Verdana;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 20px;
}
.distributionText {
    font-size: 15px;
    font-weight: inherit;
    margin: 0;
    font-family: Verdana;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}